.AgentMain{
    width:33%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity:0;
    filter: blur(10px);
    transform: translateY(-10rem);
    animation:Appear 1500ms ease forwards;

}
@keyframes Appear{
    from{}
    to{
        transform: translate(0);
        opacity: 1;
        filter: blur(0);
    }
}
.AgentMain img{
    width:150%;
    z-index: 2;
}

.AgentMain span{
    font-size: 12.5em;
    font-weight: bolder;
    position: absolute;
    opacity: .75;
    font-style: italic;
    transform: translateY(-2rem);
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .AgentMain{
        width:75%;
    }
}
@media(max-width: 431px){
    .AgentMain{
        width:90%;
    }
    .AgentMain span{
        font-size: 6em;
    }
}
