.AgentDetails {

    position: relative; /* Ensure the pseudo-element positions correctly */
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    overflow: hidden; /* Prevent any overflow from the pseudo-element */
}

.AgentDetails::before {
    content: ''; /* Needed to display the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/maps/Pearl.webp);
    background-size: cover;
    background-position: center;
    filter: blur(2px); /* Apply the blur effect */

    z-index: -1; 
}

.AgentDetails_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem 2rem;
    height: 90vh;
}
.Left_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width:30%;
    height:100%;
}
.Right_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    width:30%;
    height:100%;
}
.Prev, .Next{
    width:2rem;
}
.Prev{
    transform: rotate(180deg);
}
.Lore_container{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
.Lore_container span{
    font-size: 150%;
    text-align: right;
    font-weight: 300;
    opacity:.85;
    line-height: 150%;
}
