.AgentRoles{
    display: flex;
    align-items: center;
    gap:.5rem;
    border-bottom: solid 1px #fff;
    padding:0 0 1rem;
}
.AgentRoles img{
    width:2.5rem;
}
.AgentRoles span{
    font-size: 1.75em;
    font-weight: bolder;
    letter-spacing: 5px;
}
@media(max-width:431px){
    .AgentRoles span{
        font-size: 1.25em;
        letter-spacing: 2px;
    }
    .AgentRoles img{
        width:1.75rem;
    }
}