.Lore{
    width:100%;
    font-weight: lighter;
}
.Lore_text{
    font-size: 125%;
    font-weight:200;
    font-weight: lighter;
    opacity: .85;
    line-height: 150%;
}

@media(min-width:768px) and (max-width:1024px){
    .Lore_text{
        font-size: 200%;
    }
}